[submodule "analysis/cppcheck/cppcheck-rules"]
	path = analysis/cppcheck/cppcheck-rules
	url = git@github.com:embeddedartistry/cppcheck-rules.git
[submodule "analysis/vale/vale-styleguide"]
	path = analysis/vale/vale-styleguide
	url = git@github.com:embeddedartistry/vale-styleguide.git
